html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 0.75rem;
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $white;
}

h1, h2, h3 {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'shop-now'
        'about'
    ;

    @include breakpoint-up(large) {
        grid-template-columns: 1fr 600px;
        grid-template-rows: 33.375rem auto auto;
        grid-template-areas:
            'header shop-now'
            'about about'
        ;
    }
}