.shop-now {
    overflow-x: hidden;
    grid-area: shop-now;

    &__items {
        display: flex;
    }

    &__item {
        min-width: 100%;
        padding: 4.625rem 2.25rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1.25rem;
    }

    &__content {
        color: $dark-gray;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 3.5rem;
    }

    &__link, &__link:visited {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: $black;
        letter-spacing: 0.625rem;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: .3;
        }

        img {
            margin-left: 1.875rem;
        }
    }
}

@include breakpoint-up(large) {
    .shop-now {
        &__item {
            padding: 7.425rem 3.125rem;
        }

        &__title {
            font-size: 2.625rem;
            margin-bottom: 1.75rem;
        }

        &__content {
            margin-bottom: 2.25rem;
        }
    }
}